# Reading and Writing SPSS Datasets

In [1]:
import os
import pandas as pd
import numpy as np
import savReaderWriter as s
from itertools import islice

## Reading an SPSS dataset and create a pandas dataframe

In [2]:
reader = s.SavReader('customer_dbase.sav', ioUtf8=True)

In [3]:
all_data = reader.all()
Var_Names = reader.varNames
Value_Labels = reader.valueLabels
Variable_Labels = reader.varLabels
Measure_Levels = reader.measureLevels
Variable_Formats = reader.formats
Missing_Values = reader.missingValues

In [4]:
reader.close()

In [5]:
df = pd.DataFrame(data=all_data, columns=Var_Names)
print(df.info())
print(df.columns)
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Columns: 132 entries, custid to response_03
dtypes: float64(130), object(2)
memory usage: 5.0+ MB
None
Index(['custid', 'region', 'townsize', 'gender', 'age', 'agecat', 'birthmonth',
       'ed', 'edcat', 'jobcat',
       ...
       'owncd', 'ownpda', 'ownpc', 'ownipod', 'owngame', 'ownfax', 'news',
       'response_01', 'response_02', 'response_03'],
      dtype='object', length=132)

,custid,region,townsize,gender,age,agecat,birthmonth,ed,edcat,jobcat,...,owncd,ownpda,ownpc,ownipod,owngame,ownfax,news,response_01,response_02,response_03
0,3964-QJWTRG-NPN,1.0,2.0,1.0,20.0,2.0,September,15.0,3.0,1.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
1,0648-AIPJSP-UVM,5.0,5.0,0.0,22.0,2.0,May,17.0,4.0,2.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0
2,5195-TLUDJE-HVO,3.0,4.0,1.0,67.0,6.0,June,14.0,2.0,2.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,4459-VLPQUH-3OL,4.0,3.0,0.0,23.0,2.0,May,16.0,3.0,2.0,...,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0
4,8158-SMTQFB-CNO,2.0,2.0,0.0,26.0,3.0,July,16.0,3.0,2.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [6]:
print(type(Var_Names))
print(Var_Names[0:5])

print(type(Variable_Labels))
print({k: Variable_Labels[k] for k in list(Variable_Labels)[0:5]})

print(type(Value_Labels))
print({k: Value_Labels[k] for k in list(Value_Labels)[0:5]})

print(type(Measure_Levels))
print({k: Measure_Levels[k] for k in list(Measure_Levels)[0:5]})

print(type(Variable_Formats))
print({k: Variable_Formats[k] for k in list(Variable_Formats)[0:5]})

print(type(Missing_Values))
print({k: Missing_Values[k] for k in list(Missing_Values)[0:5]})

<class 'list'>
['custid', 'region', 'townsize', 'gender', 'age']
<class 'dict'>
{'custid': 'Customer ID', 'region': 'Geographic indicator', 'townsize': 'Size of hometown', 'gender': 'Gender', 'age': 'Age in years'}
<class 'dict'>
{'region': {1.0: 'Zone 1', 2.0: 'Zone 2', 3.0: 'Zone 3', 4.0: 'Zone 4', 5.0: 'Zone 5'}, 'townsize': {1.0: '> 250,000', 2.0: '50,000-249,999', 3.0: '10,000-49,999', 4.0: '2,500-9,999', 5.0: '< 2,500'}, 'gender': {0.0: 'Male', 1.0: 'Female'}, 'agecat': {1.0: '<18', 2.0: '18-24', 3.0: '25-34', 4.0: '35-49', 5.0: '50-64', 6.0: '>65', 9.0: 'No response'}, 'edcat': {1.0: 'Did not complete high school', 2.0: 'High school degree', 3.0: 'Some college', 4.0: 'College degree', 5.0: 'Post-undergraduate degree'}}
<class 'dict'>
{'custid': 'nominal', 'region': 'nominal', 'townsize': 'ordinal', 'gender': 'nominal', 'age': 'ratio'}
<class 'dict'>
{'custid': 'A15', 'region': 'F4', 'townsize': 'F4', 'gender': 'F4', 'age': 'F4'}
<class 'dict'>
{'custid': {}, 'region': {}, 'townsize': {}, 'gender': {}, 'age': {}}

### Function to read the SPSS Dataset and Return the Pandas Dataframe and other SPSS meta data

In [7]:
def ReadSPSS(sFileName):
    """ This function reads in an SPSS file and prints quick info of the dataset.
    Args:
    	SPSS Dataset name including the path
    Returns:
    	Dataframe
    	Variable Lables as a dictionary
    	Value Labels as a dictionary
    """
    reader = s.SavReader(sFileName, ioUtf8=True)
    all_data = reader.all()
    Var_Names = reader.varNames
    Variable_Labels = reader.varLabels
    Value_Labels = reader.valueLabels
    Measure_Levels = reader.measureLevels
    Variable_Formats = reader.formats
    Missing_Values = reader.missingValues
    reader.close()
    df = pd.DataFrame(data=all_data, columns=Var_Names)
    print (f'Dataset Info:-\nNo. of Records: {df.shape[0]}\nNo. of Variables: {df.shape[1]}\nNo. of Variable Labels: {len(Variable_Labels)}\nNo. of Value Labels: {len(Value_Labels)}')
    return df, Variable_Labels, Value_Labels, Measure_Levels, Variable_Formats, Missing_Values

In [8]:
df_custDB, variable_labels_custDB, value_labels_custDB, measure_levels_custDB, variable_formats_custDB, missing_values_custDB = ReadSPSS('customer_dbase.sav')

Dataset Info:-
No. of Records: 5000
No. of Variables: 132
No. of Variable Labels: 132
No. of Value Labels: 80

In [9]:
df_custDB.to_csv('Customer_dbase_ExportFromPandas.csv', index=False)

In [10]:
print(df_custDB.dtypes[0:5])

custid       object
region      float64
townsize    float64
gender      float64
age         float64
dtype: object

### Print the variable information

In [11]:
def PrintSPSSVariableInfo(df, varName):
    print(f"Variable info for '{varName}':")
    print("Variable Datatype: ", df[varName].dtype)
    print("Variable Label: ", Variable_Labels[varName])
    print("Value Label: ", Value_Labels[varName])
    print("Measure Level: ", Measure_Levels[varName])
    print("Variable Format: ", Variable_Formats[varName])
    print("Missing Values: ", Missing_Values[varName])
    print("\n")

In [12]:
PrintSPSSVariableInfo(df_custDB, 'region')

Variable info for 'region':
Variable Datatype:  float64
Variable Label:  Geographic indicator
Value Label:  {1.0: 'Zone 1', 2.0: 'Zone 2', 3.0: 'Zone 3', 4.0: 'Zone 4', 5.0: 'Zone 5'}
Measure Level:  nominal
Variable Format:  F4
Missing Values:  {}

### Print frequencies of a variable with value labels

In [13]:
def ValueCountsVL(df, sVariable, dictValueLabels, dictVariableLabels, bVariableLabelsRequired=True):
    if bVariableLabelsRequired == True and sVariable in dictValueLabels:
        print (dictVariableLabels[sVariable], ":")
        print (df[sVariable].replace(dictValueLabels[sVariable]).value_counts(dropna=False), "\n")
    else:
        print (dictVariableLabels[sVariable], ":")
        print (df[sVariable].value_counts(dropna=False), "\n")

In [14]:
ValueCountsVL(df_custDB, 'region', value_labels_custDB, variable_labels_custDB)

Geographic indicator :
Zone 5    1052
Zone 1    1019
Zone 2    1005
Zone 3     981
Zone 4     943
Name: region, dtype: int64

In [15]:
def AppendCodesWithValueLabels(input_value_labels):
    output_value_labels = {}
    for di_keys, di_values in input_value_labels.items():
        output_value_labels[di_keys] = {k: str(int(k)) + ' ' + str(v) for k, v in input_value_labels[di_keys].items()}
    return output_value_labels

In [16]:
value_labels_custDB_append = AppendCodesWithValueLabels(value_labels_custDB)

In [17]:
print("Value Labels Before:")
print({k: value_labels_custDB[k] for k in list(value_labels_custDB)[0:1]})
print()
print("Value Labels After Appending:")
print({k: value_labels_custDB_append[k] for k in list(value_labels_custDB_append)[0:1]})

Value Labels Before:
{'region': {1.0: 'Zone 1', 2.0: 'Zone 2', 3.0: 'Zone 3', 4.0: 'Zone 4', 5.0: 'Zone 5'}}

Value Labels After Appending:
{'region': {1.0: '1 Zone 1', 2.0: '2 Zone 2', 3.0: '3 Zone 3', 4.0: '4 Zone 4', 5.0: '5 Zone 5'}}

### Generate dataset info

In [18]:
def GenerateSPSSDatasetInfo(df, variable_labels, var=''):
    """ This function gives variable description of dataframe.
    Args:
    	Dataframe, Variable Labels, and an optional group by varible passed as a list
    Returns:
    	Dataframe with variable description of the input dataframe
    """
    if var == '':
        df_var_description = pd.concat([df.describe().T,df.select_dtypes(include = 'object').describe().T], axis=0, sort=False)
        df_var_labels = pd.DataFrame.from_dict({k: variable_labels[k] for k in df.columns}, orient='index')
        df_var_description_with_variable_labels = pd.concat([df_var_description, df_var_labels], axis=1, sort=False)
    else:
        df_group = df.groupby(var)
        df_var_description_numeric = df_group[df.columns].apply(lambda x: x.describe().T)
        df_var_description_object = df_group[df.select_dtypes(include = 'object').columns].apply(lambda x: x.describe().T)
        df_var_description = pd.concat([df_var_description_numeric, df_var_description_object], axis=0, sort=False)
        df_var_description.reset_index(inplace=True)
        df_var_labels = pd.DataFrame.from_dict({k: variable_labels[k] for k in df.columns}, orient='index')
        df_var_labels.reset_index(inplace=True)
        merge_variable = 'level_' + str(len(var))
        df_var_description_with_variable_labels = df_var_description.merge(df_var_labels, how='left', left_on=merge_variable, right_on='index')
        df_var_description_with_variable_labels.drop(columns=['index'], inplace=True)
    return df_var_description_with_variable_labels

In [19]:
df_custDB_info = GenerateSPSSDatasetInfo(df_custDB, variable_labels_custDB)
df_custDB_info.head()

,count,mean,std,min,25%,50%,75%,max,unique,top,freq,0
region,5000,3.000800,1.430667,1.0,2.0,3.0,4.0,5.0,NaN,NaN,NaN,Geographic indicator
townsize,4998,2.691477,1.427611,1.0,1.0,3.0,4.0,5.0,NaN,NaN,NaN,Size of hometown
gender,5000,0.510200,0.499946,0.0,0.0,1.0,1.0,1.0,NaN,NaN,NaN,Gender
age,5000,46.939800,17.703312,18.0,32.0,46.0,62.0,79.0,NaN,NaN,NaN,Age in years
agecat,5000,4.232200,1.303159,2.0,3.0,4.0,5.0,6.0,NaN,NaN,NaN,Age category

In [20]:
df_custDB_info.to_csv('Customer_dbase_info.csv')

### Generate variable frequencies SPSS style

In [21]:
def freqAll(df, dictValueLabels, decimal_rounding=2, bVariableLabelsRequired=True):
    """ This function generates frequencies of all the variables in a dataset.
    Version: 2.0
    Args:
        Data frame name
        Value Labels as dictionary
        Optional decimal rounding. Default: 2
    Returns:
        A list of dataframes. Each dataframe is a frequency of the variable in the dataframe supplied
    """
    if bVariableLabelsRequired == True:
        x_1 = [pd.DataFrame(df[var].replace(dictValueLabels[var]).value_counts()) for var in df.columns if var in dictValueLabels]
        x_2 = [pd.DataFrame(df[var].value_counts()) for var in df.columns if var not in dictValueLabels]
        x = x_1 + x_2
    else:
        x = [pd.DataFrame(df[var].value_counts()) for var in df.columns]
    for dff in x:
        Total_Valid = dff.iloc[:,0].sum()
        if df.shape[0] - Total_Valid  > 0:
            dff.loc['Total Valid'] = Total_Valid
            dff.loc['Missing'] = df.shape[0] - Total_Valid
            dff.loc['Total'] = dff.iloc[:,0].sum() - Total_Valid
        else:
            dff.loc['Total'] = dff.iloc[:,0].sum()
        dff['Percent'] = round((dff.iloc[:,0]/ df.shape[0])*100, decimal_rounding)
        dff['Valid Percent'] = round((dff.iloc[:,0]/ Total_Valid)*100, decimal_rounding)
        if df.shape[0] - Total_Valid  > 0:
            dff.loc['Missing', 'Valid Percent'] = np.nan
        dff.loc['Total', 'Valid Percent'] = np.nan
    return x

In [22]:
df_custDB_frequencies = freqAll(df_custDB, value_labels_custDB_append)

In [23]:
df_custDB_frequencies[0:2]

[          region  Percent  Valid Percent
 5 Zone 5    1052    21.04          21.04
 1 Zone 1    1019    20.38          20.38
 2 Zone 2    1005    20.10          20.10
 3 Zone 3     981    19.62          19.62
 4 Zone 4     943    18.86          18.86
 Total       5000   100.00            NaN,
                   townsize  Percent  Valid Percent
 1 > 250,000           1430    28.60          28.61
 2 50,000-249,999      1055    21.10          21.11
 3 10,000-49,999        896    17.92          17.93
 4 2,500-9,999          861    17.22          17.23
 5 < 2,500              756    15.12          15.13
 Total Valid           4998    99.96         100.00
 Missing                  2     0.04            NaN
 Total                 5000   100.00            NaN]

### Generate variable frequencies SPSS style and export to csv

In [24]:
def SPSSfreqAll2csv(df, dictValueLabels, dictVariableLabels, fileName, decimal_rounding=2, bVariableLabelsRequired=True):
    """ This function reads in a dataframe and generates/writes SPSS equivalent frequencies to a CVS file.
    Version: 3.0
    Args:
    	Dataframe name
        Value Labels as dictionary
        Variable Labels as dictionary
        CSV file name along with path
        Optional decimal rounding. Default: 2
    Returns:
    	CSV file with SPSS equivalent frequencies
    """
    if bVariableLabelsRequired == True:
        x_1 = [pd.DataFrame(df[var].replace(dictValueLabels[var]).value_counts()) for var in df.columns if var in dictValueLabels]
        x_2 = [pd.DataFrame(df[var].value_counts()) for var in df.columns if var not in dictValueLabels]
        x = x_1 + x_2
    else:
        x = [pd.DataFrame(df[var].value_counts()) for var in df.columns]
    f = open(fileName, 'a', encoding='utf_8_sig')
    for dff in x:
        Total_Valid = dff.iloc[:, 0].sum()
        Var_Name = dff.columns[0]
        dff.rename(columns={dff.columns[0]: 'Frequency'}, inplace=True)
        if df.shape[0] - Total_Valid > 0:
            dff.loc['Total Valid'] = Total_Valid
            dff.loc['Missing'] = df.shape[0] - Total_Valid
            dff.loc['Total'] = dff.iloc[:, 0].sum() - Total_Valid
        else:
            dff.loc['Total'] = dff.iloc[:, 0].sum()
        dff['Percent'] = round((dff.iloc[:, 0]/ df.shape[0])*100, decimal_rounding)
        dff['Valid Percent'] = round((dff.iloc[:, 0]/ Total_Valid)*100, decimal_rounding)
        if df.shape[0] - Total_Valid > 0:
            dff.loc['Missing', 'Valid Percent'] = np.nan
        dff.loc['Total', 'Valid Percent'] = np.nan
        f.write('"' + Var_Name + ' ' + dictVariableLabels[Var_Name] + '"' + "\n")
        dff.to_csv(f, line_terminator='\n', encoding='utf_8_sig')
        f.write("\n")
    f.close()

In [25]:
SPSSfreqAll2csv(df_custDB, value_labels_custDB_append, variable_labels_custDB, 'Customer_dbase_frequencies.csv')

### Comparing info of 2 datasets

Often we need to compare 2 datasets which has same data in it, probably before and after some data operations. This function helps in comparing the data at variable informaton level.

In [26]:
def compareDatasets(df1, df2, df1_variable_labels, df2_variable_labels, groupby_variable=''):
    merge_variable = 'level_' + str(len(groupby_variable))
    df1_description = GenerateSPSSDatasetInfo(df1, df1_variable_labels, groupby_variable)
    df2_description = GenerateSPSSDatasetInfo(df2, df2_variable_labels, groupby_variable)

    if groupby_variable != '':
        df1_description.set_index(groupby_variable + [merge_variable], inplace=True)
        df2_description.set_index(groupby_variable + [merge_variable], inplace=True)

    df_final = df1_description.merge(df2_description, how='outer', left_index=True, right_index=True, suffixes=('_processed', '_raw'))

    df_final['count_diff'] = df_final['count_processed'].fillna(0) - df_final['count_raw'].fillna(0)
    df_final['mean_diff'] = df_final['mean_processed'].fillna(0) - df_final['mean_raw'].fillna(0)
    df_final['freq_diff'] = df_final['freq_processed'].fillna(0) - df_final['freq_raw'].fillna(0)

    return df_final

In [27]:
# for ease I am just using the same datasets
df_custDB_compare = compareDatasets(df_custDB, df_custDB, variable_labels_custDB, variable_labels_custDB)

In [28]:
df_custDB_compare.head()

,count_processed,mean_processed,std_processed,min_processed,25%_processed,50%_processed,75%_processed,max_processed,unique_processed,top_processed,...,50%_raw,75%_raw,max_raw,unique_raw,top_raw,freq_raw,0_raw,count_diff,mean_diff,freq_diff
region,5000,3.000800,1.430667,1.0,2.0,3.0,4.0,5.0,NaN,NaN,...,3.0,4.0,5.0,NaN,NaN,NaN,Geographic indicator,0.0,0.0,0
townsize,4998,2.691477,1.427611,1.0,1.0,3.0,4.0,5.0,NaN,NaN,...,3.0,4.0,5.0,NaN,NaN,NaN,Size of hometown,0.0,0.0,0
gender,5000,0.510200,0.499946,0.0,0.0,1.0,1.0,1.0,NaN,NaN,...,1.0,1.0,1.0,NaN,NaN,NaN,Gender,0.0,0.0,0
age,5000,46.939800,17.703312,18.0,32.0,46.0,62.0,79.0,NaN,NaN,...,46.0,62.0,79.0,NaN,NaN,NaN,Age in years,0.0,0.0,0
agecat,5000,4.232200,1.303159,2.0,3.0,4.0,5.0,6.0,NaN,NaN,...,4.0,5.0,6.0,NaN,NaN,NaN,Age category,0.0,0.0,0

### Comparing frequencies from 2 datasets

Similar to above, at times we may need to compare the frequencies of 2 dataset to see the changes of before and after processing

In [29]:
def compare_datasets_frequencies(df_primary, df_secondary, value_labels_primary, variable_labels_primary, file_name):
    """ This function generates and compares frequencies of the variables between 2 datasets.
    It uses the variables, variable labels and value labels from the primary dataset as base.
    Variables which are only in the secondary dataset are ignored
    Version: 1.0
    Args:
        Primary Data frame name
        Secondary Data frame name
        Value Labels as dictionary - Primary dataset
        Variable Labels as dictionary - Primary dataset
        CSV file name along with path
    Returns:
    	CSV file with SPSS equivalent frequencies compared between 2 datasets
    """
    freq_primary = freqAll(df_primary, value_labels_primary)
    freq_secondary = freqAll(df_secondary[df_primary.columns], value_labels_primary)
    freq_all = [pd.DataFrame(freq_primary[var]).merge(pd.DataFrame(freq_secondary[var]), 
                             how='outer', 
                             left_index=True, right_index=True,
                             suffixes=('_processed', '_raw')) for var in range(len(freq_primary))]
    f = open(file_name,'a', encoding='utf_8_sig')
    for df in freq_all:
        df['Diff_Frequency'] = df.iloc[:,0] - df.iloc[:,3]
        df['Diff_Percent'] = df.iloc[:,1] - df.iloc[:,4]
        df['Diff_Valid_Percent'] = df.iloc[:,2] - df.iloc[:,5]
        f.write('"' + df.columns[0].replace('_processed', '') + ' ' + df.columns[0].replace(df.columns[0], variable_labels_primary[df.columns[0].replace('_processed', '')]) + '"' + "\n")
        df.rename(columns={df.columns[0]: 'Frequency_processed', df.columns[3]: 'Frequency_raw'}, inplace=True)
        df.to_csv(f, line_terminator='\n', encoding='utf_8_sig')
        f.write("\n")
    f.close()

In [30]:
compare_datasets_frequencies(df_custDB, df_custDB, value_labels_custDB, variable_labels_custDB, 'Customer_dbase_frequencies_compare.csv')

## Writing to an SPSS dataset from a pandas dataframe

In [35]:
# Populate all the parameters first
savFileName = 'TestSAV.sav'
varNames = ['custid', 'region', 'gender']
records = df[['custid', 'region', 'gender']].values
varTypes = {'custid':15, 'region':0, 'gender':0}
varLabels = {x:Variable_Labels[x] for x in ['custid', 'region', 'gender']}
valueLabels = {x:Value_Labels[x] for x in ['region', 'gender']}
measureLevels = {x:Measure_Levels[x] for x in ['custid', 'region', 'gender']}
formats = {x:Variable_Formats[x] for x in ['custid', 'region', 'gender']}

In [36]:
# Use the parameters and write the sav file
with s.SavWriter(savFileName, varNames, varTypes, 
                 varLabels=varLabels, 
                 valueLabels=valueLabels, 
                 measureLevels = measureLevels, 
                 formats = formats,
                 ioUtf8=True) as writer:
    for record in records:
        writer.writerow(record)